body {
  background: dodgerblue;
  color: white;
  font-family: monospace;
  text-align: center;
}
a1 {
  background-color: dodgerblue;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 90px;
  background-color: #2089ef;
  border-radius: 20px;
  border-color: #00bfff;
  border-width: medium;
}
a2 {
  background-color: dodgerblue;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 90px;
}
p {
  background-color: #0663bc;
  font-weight: bolder;
  font-family:sans-serif;
  text-align: center;
  color: #0663bc;
  border-radius: 16px;
}
h2 {
  font-size: 75;
  font-family: sans-serif;
  text-align: center;
  background-color: dodgerblue;
}
h1 {
  font-family: monospace;
  color: aliceblue;
  background-color: dodgerblue;
}
h6 {
  font-family: monospace;
  color: aliceblue;
  text-align: left;
  font-size: 20px;
  background-color: dodgerblue;
}
h3 {
  font-family:monospace;
  color: black;
  border: 5px solid #007af0;
  background-color: #007af0; 
  background-color: dodgerblue;
}
a {
  color: #0000ff;
}
h5 {
  background-color: #64d2ff;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-size: 25px;
  background-color: dodgerblue;
}
.toolbar a {
  float: left;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px 10px 15px;
}
.toolbar a.aydin{
  float: left;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px 10px 15px;
  background-color: #6baeef;
  color: #381212;
}
.toolbar{
  font-family: sans-serif;
  text-align: left;
  background-color: #313233;
  overflow: hidden;
  border-radius: 5px;
}
.toolbar a:hover {
  color: black;
  background-color: #8bbded;
}
.normal{
  font-weight: normal
}

.Aydintech{
  font-family: tahoma;
  text-align: left;
}
  .blog a {
    float: center;
    text-decoration: inherit;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
  }
  .blog{
    font-family: sans-serif;
    text-align: center;
  }
  .blog {
    background-color: #242424;
    overflow: hidden;
  }
  .blog a:hover {
    color: black;
    background-color: #1978d4;
  }
.line {
  background-color: skyblue;
  font-weight: bolder;
  font-family:sans-serif;
  text-align: center;
  color: skyblue;
}
h3 {
 font-size: 15;
font-family: sans-serif
}  
.Aydin1 a {
  float: center;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
.Aydin1{
  font-family: sans-serif;
  text-align: center;
}
.Aydin1 {
  background-color: #242424;
  overflow: hidden;
}
.Aydin1 a:hover {
  color: black;
  background-color: dodgerblue;
}
button {
  border-radius: 9px;
  border-color: rgba(31, 74, 118, 0.88);
  border-style: ridge;
  border-collapse: collapse;
  border-width: thick;
  background-blend-mode: screen;
  background-size: cover;
  background-color: #1975ce;
}
k {
  background-color: dodgerblue;
  font-weight: inherit;
  font-family:sans-serif;
  text-align: center;
  color: dodgerblue;
  font-size: 5px;
}
j {
  background-color: dodgerblue;
  font-weight: inherit;
  font-family:sans-serif;
  text-align: center;
  color: dodgerblue;
  font-size: 15px;
}
.invisible{
  background-color: dodgerblue;
  font-weight: inherit;
  font-family: sans-serif;
  text-align:  center;
  color: dodgerblue;
}
li{
  text-align: left;
  font-family: monospace;
  font-size: 20px;
  font-style: normal;
}
textarea{
  width: 500px;
  height: 50px;
  text-align: justify;
  font-size: 40px;
  border-color: black;
  border-radius: 10px;
  border-width: medium;
  color: black;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
column:nth-child(1) {
  border-right: 4px solid;
  border-radius: 16px;
}
column {
  padding: 0 10px;
}







 








  
  
  
  
  
  
  



